
/* Navigation Bar */

ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background-color: lavender;

    position: fixed;

    width: 100%;

    top: 0;

    left: 0;

    font-weight: bold;

}

 

ul li {

    float: left;

}

 

ul li a {

    display: block;

    color: #111;

    text-align: center;
    color:pink;

    padding: 14px 16px;

    text-decoration: none;

}

 

ul li a:hover:not(.active) {

    background-color: #pink;

    color:#fff;

}

